
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand-light {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  

:root{
    --primary-color : #791717;
    --secondary-color : #B76767;
    --tertiary-color: #FFFFFF;
    --primary-font : "Poetsen One";
    --secondary-font : "Quicksand";

    --comic-san : "Comic Sans MS", "Comic Sans", cursive;
    --arial-rounded : 'Arial Rounded MT Bold', Arial, sans-serif;
    --lucida-writing : 'Lucida Handwriting', cursive;
    --bradley-hand : 'Bradley Hand', cursive;
    --chalkboard-se : 'Chalkboard SE', sans-serif;
    --dakota : 'Dakota', cursive;
    --permanent-marker : 'Permanent Marker', cursive;
    --indie-flower : 'Indie Flower', cursive;
}   

* {
    color: var(--tertiary-color);
    margin: 0;
}

body{
    background-color: var(--primary-color);
    margin: 0;
    padding-bottom: 100px;
    min-width: 326px;
    min-height: 326px;
}

.tool:nth-child(1){
    opacity: 1;
}



.header-bar{
    display: flex;
    flex-direction: row;
    margin-top: 7.0svh;
    justify-content: space-between;
    padding-bottom: 8.0svh;
}

.header-left{
    display: flex;
    flex-direction: column  ;
    width: 200px;
    /* background-color: rebeccapurple; */
    align-items: center ;
    height: fit-content;
    cursor: pointer;
}

.app_name{
    font-size: 5.0svh;
    width: fit-content;
    font-family:  var(--primary-font);
}

.current_day{
    margin-top: 0.3svh;
    width: fit-content;
    font-style: italic;
    font-weight: var(--secondary-font);
    font-size: 2.0svh;
}

.header-right{
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    align-items: center;
    transform: rotate(15deg);
    width: 100px;
    margin-right: 3.0svh;
}

.number-page{
    background-color: var(--secondary-color);
    width: 10.0svh;
    border-radius: 50%;
    height: 10.0svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-page > *{
    font-size: 5.0svh;
    color: var(--primary-color);
    font-family: var(--primary-font);
    
}

.text-page{
    text-align: center;
    width: fit-content;
    font-weight: lighter;
    font-family: var(--secondary-font);
    font-size: 3.5svh;
}

.paging-buttons{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}


.page-button{
    text-align: center;
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 1.0svh;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.page-button svg{
    flex: 1;
    width: 30px;
    height: 30px;
}

.page-button p{
    flex: 0;
    font-family: var(--secondary-font);
}

.page-button:nth-child(1){
    transform: rotate(-5deg);
}

.page-button:nth-child(1) svg{
    transform: scaleX(-1);
}

.page-button:nth-child(3){
    transform: rotate(5deg);
}

@keyframes jumpEmote {
    50%{
        transform : translateY(-100%) scale(110%);
    }
    0% , 100% {
        transform: translateY(10%) scale(100%);
    }
}

@keyframes angryEmote {
    30%{
        transform: rotate(30deg) scale(120%);
    }
    50%{
       transform: rotate(-30deg) scale(140%); 
    }
    0% , 100%{
        transform: rotate(0deg) scale(100%);
    }
}

@keyframes cryEmote {
    30%, 50%{
        transform: translateY(10%);
    }
    40%, 0%, 100%{
        transform: translateY(0%);
    }
}

@keyframes wowEmote {
    20%{
        transform: translateX(20%) rotate(-30deg);
    }
    40% {
        transform: translate(40%) rotate(30deg);
    }
    60%{
        transform: translateX(80%) rotate(-30deg) ;
    }

    80%{
        transform: translateX(80%) rotate(10deg);
    }

    90%{
        transform: translate(80%) rotate(-50deg);
    }

    0%, 100%{
        transform: translateX(0%);
    }
}

@keyframes reactionBoardMove {
    50%{
        transform: rotate(0deg);
    }
    0%, 100%{
        transform: rotate(-3deg);
    }
}



.view-leaderboards{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 10.0svh;
    width: fit-content;
}

.emojies-leaderboard{
    display: flex;
    flex-direction: row;
    width: 120px;
    padding: 0 5px;
    justify-content: space-evenly;
}

.emojies-leaderboard > * {
    font-size: 22px;
}

.emojies-leaderboard p:nth-child(1){
    animation: jumpEmote 1s ease-in-out 0s infinite;
}

.emojies-leaderboard p:nth-child(2){
    animation: angryEmote 1s ease-in-out 0s infinite;
}

.emojies-leaderboard p:nth-child(3){
    animation: cryEmote 1s ease-in-out 0s infinite;
}

.emojies-leaderboard p:nth-child(4){
    animation: wowEmote 3s ease-in-out 0s infinite;
}

.leaderboard-text{
    background-color: #E7A333; 
    color: var(--primary-color);
    width: 130px;
    font-size: 15px;
    padding: 10px 5px;
    text-align: center;
    font-family: var(--primary-font);
    letter-spacing: 3px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    border-radius: 0% 0% 8% 8% / 25% 25% 25% 25%;
    cursor: pointer;
    transform: rotate(-2deg);
    /* position: relative;
    top: 3px; */
    
    animation: reactionBoardMove 1s ease-in-out 0s infinite;
}

