
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand-light {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  

:root{
    --primary-color : #791717;
    --secondary-color : #B76767;
    --tertiary-color: #FFFFFF;
    --primary-font : "Poetsen One";
    --secondary-font : "Quicksand";

    --comic-san : "Comic Sans MS", "Comic Sans", cursive;
    --arial-rounded : 'Arial Rounded MT Bold', Arial, sans-serif;
    --lucida-writing : 'Lucida Handwriting', cursive;
    --bradley-hand : 'Bradley Hand', cursive;
    --chalkboard-se : 'Chalkboard SE', sans-serif;
    --dakota : 'Dakota', cursive;
    --permanent-marker : 'Permanent Marker', cursive;
    --indie-flower : 'Indie Flower', cursive;
}   

* {
    color: var(--tertiary-color);
    margin: 0;
}

body{
    background-color: var(--primary-color);
    margin: 0;
    padding-bottom: 13.0svh;
    min-width: 326px;
}

.tool-bar{
    z-index: 999;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: var(--secondary-color);
    justify-content: space-around;
    height: 8.5svh;
    box-shadow: 0.0svh -0.5svh 1.0svh rgba(0,0,0,0.2);
    padding-bottom: 0.5svh;
}

.tool{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
    margin-top: 1.0svh;
    opacity: 0.5;
    cursor: pointer;
}

.tool svg{
    flex : 1;
    height: 4.0svh;
    width: 4.0svh;
}

.tool p{
    flex: 0;
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
}

.tool:nth-child(1){
    opacity: 1;
}



.header-bar{
    display: flex;
    flex-direction: row;
    margin-top: 7.0svh;
    justify-content: space-between;
    padding-bottom: 8.0svh;
}

.header-left{
    display: flex;
    flex-direction: column  ;
    width: 200px;
    /* background-color: rebeccapurple; */
    align-items: center ;
    height: fit-content;
}

.app_name{
    font-size: 5.0svh;
    width: fit-content;
    font-family:  var(--primary-font);
}

.current_day{
    margin-top: 0.3svh;
    width: fit-content;
    font-style: italic;
    font-weight: var(--secondary-font);
    font-size: 2.0svh;
}




.sticky-notes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rebeccapurple; */
    row-gap: 10.0svh;
    column-gap: 10.0svh;
    padding-top: 1.0svh;
    padding-bottom: 5.0svh;
}


.sticky-note {
    position: relative;
    transform: rotate(-5deg);
    width: 250px;
    height: 230px;
    min-width: 250px;
    min-height: 230px;
    background-color: #f9f485; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px; 
    flex: 0 1 250px;
    z-index: 5;
}


.note-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.nickname{
    font-family: var(--primary-font);
    margin: 0;
    width: fit-content;
    font-size: 3.0svh;
    margin-top: 1.0svh;
}
/* 
.pin-emoji{
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: fit-content;
}  */

.pin{
    background-color: var(--secondary-color);
    box-shadow: 0 0 1.0svh rgba(0,0,0,0.2);
    border-radius: 50%;
    width: 5.0svh;
    height: 5.0svh;
    position: relative;
    top: -20px;
    right: -20px;
}

.emoji{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 5.9svh;
    transform: rotate(11deg);
}


/* New Patch V2 design */

.reaction-boards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.reactions-board{
    width: fit-content;
    height: fit-content;
}

.most-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2.0svh;
    justify-content: space-evenly;
    align-items: center;
}

.most-text > * {
    font-family: var(--primary-font);
    font-size: 4.0svh;
}

.most-text h1:nth-child(1){
    transform: rotate(-30deg);
}

.most-text h1:nth-child(2){
    transform: translateY(-50%) rotate(-20deg);
}

.most-text h1:nth-child(3){
    transform: translateY(-50%) rotate(20deg);
}

.most-text h1:nth-child(4){
    transform: rotate(30deg);
}


@keyframes jumpEmote {
    50%{
        transform : translateY(-80%) scale(110%);
    }
    0% , 100% {
        transform: translateY(10%) scale(100%);
    }
}

.reacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    font-size: 4.0svh;
}

.reacts > * {
    animation: jumpEmote 1s ease-in 0s infinite;
}

@keyframes wavesHR {
    50%{
        border-radius: 0% 0% 25% 75% / 25% 25% 25% 75%;
    }
    
    0% , 100% {
        border-radius: 0% 0% 75% 25% / 25% 25% 75% 25%;
    }
}


.label-hr{
    width: 30.0svh;
    height: 2.0svh;
    background-color: var(--secondary-color);
    position: relative;
    top: 30px;
    border-radius: 0% 0% 75% 25% / 25% 25% 75% 25%;
    animation: wavesHR 1s ease-in-out 0s infinite;
    margin-bottom: 15.0svh;
}



.sticky-notes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rebeccapurple; */
    row-gap: 10.0svh;
    column-gap: 10.0svh;
    padding-top: 1.0svh;
    padding-bottom: 5.0svh;
}


.sticky-note {
    position: relative;
    transform: rotate(-5deg);
    width: 250px;
    height: 230px;
    min-width: 250px;
    min-height: 230px;
    background-color: #f9f485; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px; 
    flex: 0 1 250px;
    z-index: 5;
}

.note-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.nickname{
    font-family: var(--primary-font);
    margin: 0;
    width: fit-content;
    font-size: 3.0svh;
    margin-top: 1.0svh;
}

.pin{
    background-color: var(--secondary-color);
    box-shadow: 0 0 1.0svh rgba(0,0,0,0.2);
    border-radius: 50%;
    width: 5.0svh;
    height: 5.0svh;
    position: relative;
    top: -20px;
    right: -20px;
}

.emoji{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 5.9svh;
    transform: rotate(11deg);
}

.sticky-note-content > *{
    color: black;
    font-family: var(--secondary-font);
    font-weight: 400;
    margin-top: 3.1svh;
    word-wrap: break-word;
}

.clip{
    position: relative;
    text-align: center;
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 1.0svh;
    border-radius: 1.0svh 0 0 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    left: 244px;
    top: 57px;
    transform: rotate(89deg);
}

.clip svg{
    position: relative;
    flex: 1;
    width: 8.0svh;
    height: 8.0svh;
    filter: drop-shadow(0 0 1px rgba(1, 1, 1 ,0.7));
    z-index: 10;
}

.clip p{
    position: relative;
    top: 45px;
    z-index: 11;
    font-size: 1.5svh;
    font-weight: bold;
    font-family: var(--secondary-font);
    letter-spacing: 0.1svh;
}

.note-date{
    position: relative;
    text-align: center;
    padding: 5px 3px ;
    color: black;
    font-family: var(--primary-font);
    font-size: 1.5svh;
    width: fit-content;
    border-radius: 25% 25% 0% 0% / 25% 25% 25% 25%;
    bottom: 332px;
    transform: rotate(-5deg) translateX(10%);
}

.reactions{
    display: flex;
    position: relative;
    flex-direction: row;
    column-gap: 2.0svh;
    bottom: 7px;
    transform: rotate(-5deg);
    width: 230px;
    margin-left: 20px;
    justify-content: space-evenly;
    z-index: 1;
}

@keyframes remove_react {
    to{
        transform : translateY(-56%);
    }
}

.react{
    position: relative;
    text-align: center;
    padding: 5px 3px ;
    border-radius: 0% 0% 0% 25% / 25% 25% 25% 25%;
    cursor: pointer;
}

.react-clicked{
    animation: remove_react 0.6s ease-in-out 0s 1 forwards;

}

.react p{
    font-size: 30px;
}

.react i{
    font-size: 12px;
    color: black;
    font-family: var(--secondary-font);
}