
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand-light {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  

:root{
    --primary-color : #791717;
    --secondary-color : #B76767;
    --tertiary-color: #FFFFFF;
    --primary-font : "Poetsen One";
    --secondary-font : "Quicksand";

    --comic-san : "Comic Sans MS", "Comic Sans", cursive;
    --arial-rounded : 'Arial Rounded MT Bold', Arial, sans-serif;
    --lucida-writing : 'Lucida Handwriting', cursive;
    --bradley-hand : 'Bradley Hand', cursive;
    --chalkboard-se : 'Chalkboard SE', sans-serif;
    --dakota : 'Dakota', cursive;
    --permanent-marker : 'Permanent Marker', cursive;
    --indie-flower : 'Indie Flower', cursive;
}   

* {
    color: var(--tertiary-color);
    margin: 0;
}

body{
    background-color: var(--primary-color);
    margin: 0;
    padding-bottom: 100px;
    min-width: 326px;
}


.header-bar{
    display: flex;
    flex-direction: row;
    margin-top: 7.0svh;
    justify-content: space-between;
    padding-bottom: 8.0svh;
}

.header-left{
    display: flex;
    flex-direction: column  ;
    width: 200px;
    /* background-color: rebeccapurple; */
    align-items: center ;
    height: fit-content;
}

.app_name{
    font-size: 5.0svh;
    width: fit-content;
    font-family:  var(--primary-font);
}

.current_day{
    margin-top: 0.3svh;
    width: fit-content;
    font-style: italic;
    font-weight: var(--secondary-font);
    font-size: 2.0svh;
}


.note-whiteboard-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.note-whiteboard-container{
    flex: 1 1 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 100px;
    row-gap: 130px;
    max-width: 1300px;
}

.note-container{
    flex: 0 0 250px;
}

.note-container h2{
    font-family: var(--primary-font);
    padding-bottom: 30px;
}


.clip-react{
    position: relative;
    text-align: center;
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px 0 0 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 11;
    transform: translateY(-50%) translateX(65%) rotate(50deg) scale(200%);
}

.clip-react svg{
    position: relative;
    flex: 1;
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 0.5px rgba(1, 1, 1 ,0.7));
    z-index: 10;
}

.clip-react p{
    position: relative;
    top: 46px;
    z-index: 11;
    font-size: 8px;  
    font-weight: bold;
    font-family: var(--secondary-font);
    letter-spacing: 2px;
}

@keyframes cryEmote {
    30%, 50%{
        transform: translateY(10%);
    }
    40%, 0%, 100%{
        transform: translateY(0%);
    }
}

@keyframes angryEmote {
    30%{
        transform: rotate(30deg) scale(105%);
    }
    50%{
       transform: rotate(-30deg) scale(120%); 
    }
    0% , 100%{
        transform: rotate(0deg) scale(100%);
    }
}

@keyframes jumpEmote {
    50%{
        transform : translateY(-30%);
    }
    0% , 100% {
        transform: translateY(10%);
    }
}

@keyframes wowEmote {
    30%{
        transform: rotate(30deg) ;
    }
    70%{
       transform: rotate(-30deg) ; 
    }
    0% , 100%{
        transform: rotate(0deg);
    }
}

.reactions-reply{
    display: flex;
    position: relative;
    flex-direction: row;
    column-gap: 15px;
    bottom: 7px;
    width: 230px;
    margin-left: 20px;
    justify-content: space-evenly;
    z-index: 1;
}

.react-reply{
    position: relative;
    text-align: center;
    padding: 5px 3px ;
    border-radius: 0% 0% 0% 25% / 25% 25% 25% 25%;
    cursor: pointer;
    background-color: #f9f485;
}

.react-reply p{
    font-size: 30px;
}

.react-reply i{
    font-size: 12px;
    color: black;
    font-family: var(--secondary-font);
}

.react-reply:nth-child(4){
    transform:  translateY(10%) ;
}

.react-reply:nth-child(4) > p{
    animation: wowEmote 0.5s ease-in 0s infinite ;
}

.react-reply:nth-child(3){
    transform:  translateX(-10%) translateY(25%) ;
}

.react-reply:nth-child(3) > p{
    animation: cryEmote 1s ease-in-out 0s infinite;
}

.react-reply:nth-child(2){
    transform:  translateX(140%) translateY(135%);
}

.react-reply:nth-child(2) > p{
    animation: angryEmote 1s ease-in-out 0s infinite;
}

.react-reply:nth-child(1){
    transform:  translateX(410%) translateY(125%);
}

.react-reply:nth-child(1) > p{
    animation: jumpEmote 0.6s ease-in-out 0s infinite;
}

.note-container .label-reply{
    padding-top: 50px;
}


.note-container label{
    font-family: var(--primary-font);
    padding-bottom: 20px;
    width: 100px;
}

.note-container input[type="text"]:not(button){
    font-size: 15px;
    border-radius: 5px;
    line-height: 1.5;
    padding: 5px;
    border: 5px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 15px;
    margin-left: 15px;
    width: 150px;
    font-family: var(--secondary-font);
    margin-bottom: 5px;
}

.note-container textarea{
    font-size: 15px;
    border-radius: 5px;
    line-height: 1.5;
    padding: 5px;
    border: 5px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 160px;
    margin-left: 13px;
    width: 250px;
    font-family: var(--secondary-font);
    max-width: 250px;
    min-width: 250px;
    min-height: 160px;
}


.name-input{
    display: flex;
    flex-wrap: wrap;
}

.name-input label{
    text-align: center;
    height: 20px;
    font-size: 17px;
    align-self: center;
}



.preview-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 80px;
}

.preview-buttons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    gap: 10px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}

.preview-buttons div svg{
    width:25px;
    height: 25px;
    flex: 1;
}

.preview-buttons div p{
    flex: 0;
    font-family: var(--secondary-font);
}

.preview-buttons div:nth-child(1){
    transform: rotate(-5deg);
}

.preview-buttons div:nth-child(2){
    transform: rotate(5deg);
}

.whiteboard-container{
    flex: 1 1 300px;
    resize: horizontal;
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    background-color: #915E38;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: var(--tertiary-color) solid 5px;
}

.whiteboard{
    resize: both;
    width: 98%;
    height: 97%;
    margin: 0;
    border: 10px solid black ;
    border-radius: 15px;
}

.whiteboard h2{
    font-family: var(--primary-font);
    padding-bottom: 30px;
    color: var(--tertiary-color);
    margin-left: 15px;
    margin-top: 15px;
    letter-spacing: 2px;
}


@keyframes loadNote {
    0%{
        opacity: 0;
        transform: translateY(5%);

    }
    80%{
        transform: translateY(0%);
    }
    100%{
        opacity: 1;

    }
}

.replies-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    resize: horizontal;
    width: 100%;
    margin-bottom: 30px;
    /* background-color: #791717; */
}

.reply{
    width: 250px;
    height: 250px;
    background-color: #f9f485; 
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    padding: 8px;
    line-height: 1.5;
    border-radius: 5px; 
    margin-left: 13px;
    margin-right: 13px;
    transform: rotate(-2deg);
    animation: loadNote 0.6s ease-in 0s 1 forwards;
}

.reply-content{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    row-gap: 8px;
}

.reply-content > *{
    color: black;
}

.reply-content > p:nth-child(1){
    font-size: 22px;
    font-family: var(--permanent-marker);
}

.reply-content > p:nth-child(2){
    font-size: 12.5px;
    font-family: var(--secondary-font);
    height: fit-content;
    word-wrap:break-word ;
    letter-spacing: 1px;
}

.tape{
    width: 45px;
    height: 20px;
    background-color: #B76767;
    border-radius: 6px;
    position: absolute;
    transform: translateX(500%) translateY(-80%) rotate(30deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tape > *{
    font-family: var(--secondary-font);
    font-size: 8px;
    color: #f9f485;
    font-weight: bold;
}
