
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand-light {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  

:root{
    --primary-color : #791717;
    --secondary-color : #B76767;
    --tertiary-color: #FFFFFF;
    --primary-font : "Poetsen One";
    --secondary-font : "Quicksand";

    --comic-san : "Comic Sans MS", "Comic Sans", cursive;
    --arial-rounded : 'Arial Rounded MT Bold', Arial, sans-serif;
    --lucida-writing : 'Lucida Handwriting', cursive;
    --bradley-hand : 'Bradley Hand', cursive;
    --chalkboard-se : 'Chalkboard SE', sans-serif;
    --dakota : 'Dakota', cursive;
    --permanent-marker : 'Permanent Marker', cursive;
    --indie-flower : 'Indie Flower', cursive;
}   

* {
    color: var(--tertiary-color);
    margin: 0;
}

body{
    background-color: var(--primary-color);
    margin: 0;
    padding-bottom: 13.0svh;
    min-width: 326px;
    min-height: 326px;
}


.tool:nth-child(1){
    opacity: 1;
}



.header-bar{
    display: flex;
    flex-direction: row;
    margin-top: 7.0svh;
    justify-content: space-between;
    padding-bottom: 8.0svh;
}

.header-left{
    display: flex;
    flex-direction: column  ;
    width: 200px;
    /* background-color: rebeccapurple; */
    align-items: center ;
    height: fit-content;
    cursor: pointer;
}

.app_name{
    font-size: 5.0svh;
    width: fit-content;
    font-family:  var(--primary-font);
}

.current_day{
    margin-top: 0.3svh;
    width: fit-content;
    font-style: italic;
    font-weight: var(--secondary-font);
    font-size: 2.0svh;
}

/* New Patch V2 design */

.reaction-boards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.reactions-board{
    width: fit-content;
    height: fit-content;
}

.reactions-board-label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.most-text{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 18px;
    justify-content: space-evenly;
    align-items: center;
    resize: horizontal;
    width: 100%;
}

.most-text > * {
    font-family: var(--primary-font);
    font-size: 25px;
}

.most-text h1:nth-child(1){
    transform: rotate(-30deg);
}

.most-text h1:nth-child(2){
    transform: translateY(-50%) rotate(-20deg);
}

.most-text h1:nth-child(3){
    transform: translateY(-50%) rotate(20deg);
}

.most-text h1:nth-child(4){
    transform: rotate(30deg);
}



@keyframes cryEmote {
    30%, 50%{
        transform: translateY(10%);
    }
    40%, 0%, 100%{
        transform: translateY(0%);
    }
}

@keyframes angryEmote {
    30%{
        transform: rotate(30deg) scale(105%);
    }
    50%{
       transform: rotate(-30deg) scale(120%); 
    }
    0% , 100%{
        transform: rotate(0deg) scale(100%);
    }
}

@keyframes jumpEmote {
    50%{
        transform : translateY(-30%);
    }
    0% , 100% {
        transform: translateY(10%);
    }
}

@keyframes wowEmote {
    30%{
        transform: rotate(30deg) ;
    }
    70%{
       transform: rotate(-30deg) ; 
    }
    0% , 100%{
        transform: rotate(0deg);
    }
}


.reacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 20px;
    font-size: 40px;
    resize: horizontal;
    width: 100%;
}

.reacts p:nth-child(1){
    animation: jumpEmote 0.6s ease-in 0s infinite;
}

.reacts p:nth-child(2){
    animation: angryEmote 1s ease-in 0s infinite;
}

.reacts p:nth-child(3){
    animation: cryEmote 1s ease-in 0s infinite;
}

.reacts p:nth-child(4){
    animation: wowEmote 1s ease-in 0s infinite;
}

.most-loved p:nth-child(1){
    animation: jumpEmote 0.6s ease-in 0s infinite;
}
.most-angries p:nth-child(1){
    animation: angryEmote 1s ease-in 0s infinite;
}
.most-cries p:nth-child(1){
    animation: cryEmote 1s ease-in 0s infinite;
}
.most-wows p:nth-child(1){
    animation: wowEmote 1s ease-in 0s infinite;
}

@keyframes wavesHR {
    50%{
        border-radius: 0% 0% 25% 75% / 25% 25% 25% 75%;
    }
    
    0% , 100% {
        border-radius: 0% 0% 75% 25% / 25% 25% 75% 25%;
    }
}


.label-hr{
    width: 300px;
    height: 20px;
    background-color: var(--secondary-color);
    position: relative;
    top: 20px;
    border-radius: 0% 0% 75% 25% / 25% 25% 75% 25%;
    animation: wavesHR 1s ease-in-out 0s infinite;
    resize: horizontal;
    width: 100%;
}

@keyframes loadNote {
    0%{
        opacity: 0;
        transform: translateY(5%);

    }
    80%{
        transform: translateY(0%);
    }
    100%{
        opacity: 1;

    }
}

.sticky-notes-container-react{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rebeccapurple; */
    row-gap: 0.5svh;
    column-gap: 10.0svh;
    padding-bottom: 5.0svh;
}

.sticky-notes-container-react > *{
    animation: loadNote 0.6s ease-in 0s 1 forwards;
}
