.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand-light {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

:root{
    --primary-color : #791717;
    --secondary-color : #B76767;
    --tertiary-color: #FFFFFF;
    --primary-font : "Poetsen One";
    --secondary-font : "Quicksand";

    --comic-san : "Comic Sans MS", "Comic Sans", cursive;
    --arial-rounded : 'Arial Rounded MT Bold', Arial, sans-serif;
    --lucida-writing : 'Lucida Handwriting', cursive;
    --bradley-hand : 'Bradley Hand', cursive;
    --chalkboard-se : 'Chalkboard SE', sans-serif;
    --dakota : 'Dakota', cursive;
    --permanent-marker : 'Permanent Marker', cursive;
    --indie-flower : 'Indie Flower', cursive;
}


* {
    color: var(--tertiary-color);
    margin: 0;
}

body{
    background-color: var(--primary-color);
    margin: 0;
    padding-bottom: 100px;
    min-width: 326px;
    min-height: 326px;
}


.tool:nth-child(2){
    opacity: 1;
}

.header-bar{
    display: flex;
    flex-direction: row;
    margin-top: 7.0svh;
    justify-content: space-between;
    padding-bottom: 8.0svh;
}

.header-left{
    display: flex;
    flex-direction: column  ;
    width: 200px;
    /* background-color: rebeccapurple; */
    align-items: center ;
    height: fit-content;
    cursor: pointer;
}

.app_name{
    font-size: 5.0svh;
    width: fit-content;
    font-family:  var(--primary-font);
}

.current_day{
    margin-top: 0.3svh;
    width: fit-content;
    font-style: italic;
    font-weight: var(--secondary-font);
    font-size: 2.0svh;
}

.form-preview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
    justify-content: center;
    align-items: flex-start;
}


.form-note{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.form-note h2{
    font-family: var(--primary-font);
    padding-bottom: 30px;
}

.form-note label{
    font-family: var(--primary-font);
    padding-bottom: 20px;
    width: 100px;
}

.form-note input[type="text"]:not(button){
    font-size: 15px;
    border-radius: 5px;
    line-height: 1.5;
    padding: 5px;
    border: 5px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 15px;
    margin-left: 15px;
    width: 150px;
    font-family: var(--secondary-font);
    margin-bottom: 5px;
}

.form-note textarea{
    font-size: 15px;
    border-radius: 5px;
    line-height: 1.5;
    padding: 5px;
    border: 5px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 160px;
    margin-left: 13px;
    width: 250px;
    font-family: var(--secondary-font);
    max-width: 250px;
    min-width: 250px;
    min-height: 160px;
}

.text-colors-textarea{
    margin-top: 5px;
}


.name-input{
    display: flex;
    flex-wrap: wrap;
}

.name-input label{
    text-align: center;
    height: 20px;
    font-size: 17px;
    align-self: center;
}

.text-colors{    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: var(--secondary-color);
    justify-content: center;
    padding: 3px 0;
    border-radius: 5px;
}

.text-colors > *{
    outline: 0;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px;
    border: 0;
    min-height: 30px;
    min-width: 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 3px;
    font-family: var(--primary-font);
    box-shadow: rgba(0, 0, 0, 0.05) 0px -2px 0px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset;
}

.text-colors button:nth-child(1){
    background-color: black ;
}
.text-colors button:nth-child(2){
    background-color: red ;
}
.text-colors button:nth-child(3){
    background-color: blue ;
}

.sticky-notes-fonts-container {
    width: 280px; /* Fixed width for the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    padding: 5px 0;
}

.sticky-notes-fonts{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    width: fit-content;
    margin: 0.0 5px;
}

.sticky-notes-fonts > *{
    outline: 0;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    border: 0;
    min-height: 30px;
    min-width: 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: var(--primary-font);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset;
    background-color: var(--primary-color);
}

.comic{
    font-family: var(--comic-san);    
}

.arial{
    font-family: var(--arial-rounded);
}


.lucida{
    font-family: var(--lucida-writing);
}

.bradley{
    font-family: var(--bradley-hand);
}

.chalkboard{
    font-family: var(--chalkboard-se);
}

.permanent{
    font-family: var(--permanent-marker);
}

.flower{
    font-family: var(--indie-flower);
}

.dakota{
    font-family: var(--dakota);
}

.poetsen{
    font-family: var(--primary-font);
}

.quicksand{
    font-family: var(--secondary-font);
}

.note-colors-container{
    width: 280px; /* Fixed width for the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    padding: 5px 0;
}

.note-colors{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    width: fit-content;
    margin: 0.0 5px;
}

.note-colors > * {
    color : black;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    border: 0;
    min-height: 30px;
    min-width: 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: var(--primary-font);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset;
}

.note-colors button:nth-child(1){
    background-color: #f9f485 ;
}
.note-colors button:nth-child(2){
    background-color: #F3BCCF ;
}
.note-colors button:nth-child(3){
    background-color: #A1FF6C ;
}
.note-colors button:nth-child(4){
    background-color: #DCCAFF ;
}
.note-colors button:nth-child(5){
    background-color: #87CDFF ;
}
.note-colors button:nth-child(6){
    background-color: #F37750 ;
}

.emoji-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 280px;
    height: fit-content;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 0;
    gap: 5px;
}

.emoji-list > *{
    outline: 0;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    border: 0;
    min-height: 36px;
    min-width: 36px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    font-family: var(--primary-font);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset;
    background-color: var(--primary-color);
}


.content-input{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}


.preview-note{
    display: flex;
    flex-direction: column;
    height: fit-content;
}


.preview-note h2{
    font-family: var(--primary-font);
    padding-bottom: 25px;
}



.note-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.nickname{
    color: black;
}

.preview-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 80px;
}

.preview-buttons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    gap: 10px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}

.preview-buttons div svg{
    width:25px;
    height: 25px;
    flex: 1;
}

.preview-buttons div p{
    flex: 0;
    font-family: var(--secondary-font);
}

.preview-buttons div:nth-child(1){
    transform: rotate(-5deg);
}

.preview-buttons div:nth-child(2){
    transform: rotate(5deg);
}

.gender-colors button:nth-child(1){
    background-color: #87CDFF;
}

.gender-colors button:nth-child(2){
    background-color: #f9f485;
}

.gender-colors button:nth-child(3){
    background-color:  #F3BCCF;
}